$bg-color: #f1f6f9;
$font-color: #214252;
$font-color2: #0dad08;
$link-color: #010e0b;

$hover-color: #ebebeb;

// button color
$bg: #fff;
$text: #479637;
$light-pink: #f3fff0;
$pink: #abf5ca;
$dark-pink: #a9eeb8;
$pink-border: #85b190;
$pink-shadow: #e2ffe8;

$input-bg: #7edda9;
$input-bg: #7edda9;